<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <!---------相当于把Action方法中保存的内容输出--------->
        @Html.Raw(@ViewBag.HtmlStrBuilder)
    </div>
</body>
</html>
